@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Oxygen:wght@400;700&family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
%centrofy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  background: #e8ecf0;
  padding-bottom: 1400px;
}

.landingContainer {
  height: 100vh;
  overflow: hidden;
  @extend %centrofy;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #383838;
    z-index: 0;
    transform-origin: 0% 0%;
  }

  .text {
    z-index: 3;
  }
  .left {
    color: #fff;
    position: absolute;
    top: 60px;
    left: 150px;
  }
  .right {
    font-weight: 700;
    position: fixed;
    top: 60px;
    right: 150px;
  }

  .imgContainer {
    height: 100%;
    width: 100%;
    border-radius: 60px;
    @extend %centrofy;
    overflow: hidden;
    z-index: 1;
  }
  img {
    width: 100vw;
    height: 100vh;
    transform: scale(1.35);
    object-fit: cover;
  }
  .titleContainer {
    position: absolute;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 9vw;
    z-index: 3;
    @extend %centrofy;
    span {
      display: block;
    }
  }
}

@media (max-width: 1200px) {
  .landingContainer {
    .left {
      top: 60px;
      left: 10vw;
    }
    .right {
      top: 60px;
      right: 10vw;
    }

    .imgContainer {
      height: 100%;
      width: 100%;
      border-radius: 5vw;

      overflow: hidden;
      z-index: 1;
    }
  }
}
